
.form-horizontal{
       margin:auto;
       width: 500px;
       height: 500px;
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color:white;
       background-size: cover;
       background-repeat: no-repeat;
}

.logo-wrapper {
    margin:auto;
    text-align: center;
    user-select: none;
}

.logo {
      display: inline-block;
      width: 100px;
      margin-right: 14px;
}

.title {
      font-size: 32px;
      font-weight: bolder;
      font-family: "Ink Free";
}
  
.form-group{
    width:300px;
    margin: 20px;
}

.submitbutton{
       margin-top: 25px; 
       margin-bottom: 12px;
       padding: 0 0px;
       font-size: 15px;
       height: 30px;
       width: 100%;
}

.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 16px;
    margin: 48px 0 24px;
  }



